// /* DEFAULT_VARIABLE */
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

//break point
RES_WID_EXTRA_SMALL01 = 576px
RES_WID_SMALL01 = 768px
RES_WID_MEDIUM01 = 1024px
RES_WID_LARGE01 = 1200px
RES_WID_EXTRA_LARGE01 = 1500px

CONTENTS_WID_EXTRA_SMALL01 = 800px
CONTENTS_WID_SMALL01 = 960px
CONTENTS_WID_MEDIUM01 = 1000px
CONTENTS_WID_LARGE01 = 1200px
CONTENTS_WID_EXTRA_LARGE01 = 1440px

//font
DF_FONT = "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "メイリオ", sans-serif
DF_FONT_MIN = "Hiragino Mincho Pro" , "ヒラギノ明朝 Pro W3" , "HiraMinProN-W3" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;

//color
DF_BG_COLOR = #FFF //背景色
DF_TEXT_COLOR = #333 //テキスト色

DF_SELECT_BG_COLOR = #F00 //選択時 背景色
DF_SELECT_TEXT_COLOR = #FFF //選択時 テキスト色
DF_URL_TEXT_COLOR = #337FC5 //選択時 テキスト色

POINT_COLOR01 = #326073
POINT_COLOR02 = #dfe5eb

SITE_COLOR01 = #333333
SITE_COLOR02 = #EFEFEF
SITE_COLOR03 = #555555

SITE_BG01 = #FFF

